<div>
  <h1>Resume Builder</h1>
</div>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="personalDetails" errorMessage="adsfdas">
    <div style="text-align: center;background-color: rgb(243, 249, 249);">
      <form [formGroup]="personalDetails">
        <ng-template matStepLabel>Personal Details</ng-template>
        <!-- <button (click)="onButtonClick()">click</button>
        <p>{{count}}</p>
        <app-child-component></app-child-component> -->
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter your First name" formControlName="firstNameCtrl"
            [(ngModel)]="resume.first_name" required>
        </mat-form-field>
        <!-- <mdb-form-control>
          <input mdbInput type="text" id="form1" class="form-control" />
          <label mdbLabel class="form-label" for="form1">Example label</label>
        </mdb-form-control> -->
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter your Last name" formControlName="lastNameCtrl"
            [(ngModel)]="resume.last_name" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your Email" formControlName="emailCtrl" [(ngModel)]="resume.email"
            required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Enter your Phone Number" formControlName="phoneNumCtrl"
            [(ngModel)]="resume.mobile_no" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Enter your Address" formControlName="addressCtrl" [(ngModel)]="resume.address"
            required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" class="my-class" matStepperNext (click)="onSubmit()">Next</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Academic Details">
    <div style="text-align: center;background-color: rgb(243, 249, 249);">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>SSLC</mat-label>
          <input matInput formControlName="tenthCtrl" placeholder="Enter SSLC school name"
            [(ngModel)]="resume.tenth_school_name" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>SSLC Percentage</mat-label>
          <input matInput formControlName="tenthMarkCtrl" placeholder="Enter SSLC Percentage"
            [(ngModel)]="resume.sslc_percent" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>HSC</mat-label>
          <input matInput formControlName="twelfthCtrl" placeholder="Enter HSC school name"
            [(ngModel)]="resume.twelfth_school_name" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>HSC Percentage</mat-label>
          <input matInput formControlName="twelfthMarkCtrl" placeholder="Enter HSC Percentage"
            [(ngModel)]="resume.hsc_percent" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>College</mat-label>
          <input matInput formControlName="collegeCtrl" placeholder="Enter College name" [(ngModel)]="resume.college"
            required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>College Percentage</mat-label>
          <input matInput formControlName="collegeMarkCtrl" placeholder="Enter College Percentage"
            [(ngModel)]="resume.college_percent" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" class="my-class" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="my-class" matStepperNext (click)="onSubmit()">Next</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="skillsDetails">
    <div style="text-align: center;background-color: rgb(243, 249, 249);">
      <form [formGroup]="skillsDetails">
        <ng-template matStepLabel>Skill Details</ng-template>
        <div *ngFor="let skill of resume.skills; let i = index;">
          <mat-form-field appearance="fill">
            <mat-label>Skill</mat-label>
            <input matInput placeholder="Enter your Skill" class="showInputField skillPos" formControlName="skillCtrl"
            [(ngModel)]="skill.name" name="skill_{{i}}" required>
            <div mat-dialog-actions align="end">
              <button mat-raised-button color="primary" class="my-class" (click)="removeSkill(i)">Remove</button>
            </div>
          </mat-form-field>
        </div>
        <br>
        <div>
          <button mat-raised-button color="primary" class="my-class" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="my-class" matStepperNext (click)="onSubmit()">Next</button>
          <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" class="my-class" (click)="addSkill()">Add more</button>
          </div>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="projectDetails">
    <div style="text-align: center;background-color: rgb(243, 249, 249);">
      <form [formGroup]="projectDetails">
        <ng-template matStepLabel>Project Details</ng-template>
        <div *ngFor="let project of resume.projects; let i = index;">
          <mat-form-field appearance="fill">
            <mat-label>Project</mat-label>
            <input matInput placeholder="Enter your Project" formControlName="projectCtrl" [(ngModel)]="project.name"
              name="project_{{i}}" required>
            <div mat-dialog-actions align="end">
              <button mat-raised-button color="primary" class="my-class" (click)="removeProject(i)">Remove</button>
            </div>
          </mat-form-field>
        </div>

        <br>
        <div>
          <button mat-raised-button color="primary" class="my-class" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="my-class" matStepperNext (click)="onSubmit()">Next</button>
          <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" class="my-class" (click)="addProject()">Add more</button>
          </div>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="certificationDetails">
    <div style="text-align: center;background-color: rgb(243, 249, 249);">
      <form [formGroup]="certificationDetails">
        <ng-template matStepLabel>Certification Details</ng-template>
        <div *ngFor="let certification of resume.certifications let i = index;">
          <mat-form-field appearance="fill">
            <mat-label>Certification</mat-label>
            <input matInput placeholder="Enter your Certification" formControlName="certificationCtrl"
              [(ngModel)]="certification.name" required>
              <div mat-dialog-actions align="end">
                <button mat-raised-button color="primary" class="my-class" (click)="removeCertification(i)">Remove</button>
              </div>
          </mat-form-field>
          
        </div>
        <br>
        <div>
          <button mat-raised-button color="primary" class="my-class" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="my-class" matStepperNext (click)="onSubmit()">Next</button>
          <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" class="my-class" (click)="addCertification()">Add more</button>
          </div>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="profileDetails">
    <div style="text-align: center;background-color: rgb(243, 249, 249);">
      <form [formGroup]="profileDetails">
        <ng-template matStepLabel>Profile Details</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>LinkedIn profile</mat-label>
          <input matInput placeholder="Enter your LinkedIn profile" formControlName="profileCtrl1"
            [(ngModel)]="resume.linkedIn_profile" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>HackerRank profile</mat-label>
          <input matInput placeholder="Enter your HackerRank profile" formControlName="profileCtrl2"
            [(ngModel)]="resume.hackerRank_profile" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>GitHub profile</mat-label>
          <input matInput placeholder="Enter your GitHub profile" formControlName="profileCtrl3"
            [(ngModel)]="resume.gitHub_profile" required>
        </mat-form-field>
        <br>
        <div>
          <button mat-raised-button color="primary" class="my-class" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" class="my-class" matStepperNext (click)="onSubmit()">Next</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step>
    <div style="text-align: center;background-color: rgb(243, 249, 249);">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button color="primary" class="my-class" matStepperPrevious>Back</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      </div>
    </div>
  </mat-step>
</mat-stepper>