body {
    color: white;
    background-color: black;
    user-select: none !important;
}

.icons {
    background-color: rgb(13, 110, 253);
    margin-left: 20px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}