<button mat-raised-button color="primary" id="editPrev" (click)="editPrev('employee')">Previous</button>
<div class="form">
    <form [formGroup]="updateForm" class="example-form" autocomplete="off" (ngSubmit)="updateData(updateForm.value)">
    <mat-accordion class="example-headers-align" multi>
        <!-- <form #employeeFirstName="ngForm" class="example-form" autocomplete="off"> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>First Name</mat-panel-title>
                    <mat-panel-description>to change your First Name
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
          
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="first_name" [(ngModel)]="employee.first_name">
                </mat-form-field>  
        
                <!-- <button mat-raised-button color="primary" id="updateFirstName" (click)="updateFirstName(employeeFirstName.value)">Update</button> -->
            </mat-expansion-panel>
        <!-- </form> -->
    </mat-accordion>
     
    <mat-accordion class="example-headers-align" multi>
        <!-- <form #employeeLastName="ngForm" class="example-form" autocomplete="off"> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Last Name</mat-panel-title>
                    <mat-panel-description>to change your Last Name
                        <mat-icon>account_box</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
          
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name" [(ngModel)]="employee.last_name">
                </mat-form-field>  
        
                <!-- <button mat-raised-button color="primary" id="updateLastName" (click)="updateLastName(employeeLastName.value)">Update</button> -->
            </mat-expansion-panel>
        <!-- </form> -->
    </mat-accordion>
    
    <mat-accordion class="example-headers-align" multi>
        <!-- <form #employeePhoneNumber="ngForm" class="example-form" autocomplete="off"> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Phone Number</mat-panel-title>
                    <mat-panel-description>to change your Phone Number
                        <mat-icon>contact_phone</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
          
                <mat-form-field appearance="fill">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone_number" [(ngModel)]="employee.phone_number">
                </mat-form-field>  
        
                <!-- <button mat-raised-button color="primary" id="updatePhoneNumber" (click)="updatePhoneNumber(employeePhoneNumber.value)">Update</button> -->
            </mat-expansion-panel>
        <!-- </form> -->
    </mat-accordion>
    
    <mat-accordion class="example-headers-align" multi>
        <!-- <form #employeeEmail="ngForm" class="example-form" autocomplete="off"> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Email</mat-panel-title>
                    <mat-panel-description>to change your Email
                        <mat-icon>contact_mail</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
          
                <mat-form-field appearance="fill">
                    <mat-label>email</mat-label>
                    <input matInput formControlName="email" [(ngModel)]="employee.email">
                </mat-form-field>  
        
                <!-- <button mat-raised-button color="primary" id="updateEmail" (click)="updateEmail(employeeEmail.value)">Update</button> -->
            </mat-expansion-panel>
        <!-- </form> -->
    </mat-accordion>  
    <button mat-raised-button color="primary" id="update" [disabled]="!updateForm.valid">Update</button>
    </form>  
</div>