<div *ngIf="employeeId">
  <form #employee="ngForm" class="example-form" autocomplete="off">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput name="id" ngModel>
    </mat-form-field>
    <div class="button">
        <button mat-raised-button color="primary" id="viewEmployee" (click)="viewEmployee(employee.value)">View</button>
    </div>
</form>
</div>

<div *ngIf="displayElement==true">
  <div class="container">
      <div class="row">
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th scope="col">#Id</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Phone Number</th>
                      <th scope="col">email</th>
                      <th scope="col">Edit</th>
                      <th scope=""col>Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of employeeData | paginate: { itemsPerPage: limit, currentPage: page}">
                      <td>{{ data.id }}</td>
                      <td>{{ data.first_name }}</td>
                      <td>{{ data.last_name }}</td>
                      <td>{{ data.phone_number }}</td>
                      <td>{{ data.email }}</td>
                      <td><button mat-raised-button id="edit" (click)="editEmployee('employees/update', data.id)">edit</button></td>
                      <td><button mat-raised-button color="warn" id="delete" (click)="deleteEmployee(data.id)">delete</button></td>
                  </tr> 
              </tbody>
          </table>
      </div>
  </div>
  <div class="paginattion index">
      <pagination-controls (pageChange) = "page = $event"></pagination-controls>
  </div>
  <div class="button">
    <button mat-raised-button color="primary" id="view" (click)="viewEmployee('view')">View</button>
</div>
</div>
