div {
    padding: 10%;
    margin-left: 30%;
    margin-top: 5%;
}

p {
    
    font-size: 20px;
    color: rgb(75, 73, 73);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

form {
    margin-top: 5%;
}

.btn {
    background-color:rgb(75, 73, 73);
    color: white;
    width: 80px;
    text-align: center !important;
    margin-left: 5%;
  }

  .btn:hover {
    background-color: white;
    color: rgb(75, 73, 73);
  }
