<form #employee="ngForm" class="example-form" autocomplete="off">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput name="id" ngModel>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput name="first_name" ngModel>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput name="last_name" ngModel>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput name="phone_number" ngModel>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>email</mat-label>
    <input matInput name="email" ngModel>
  </mat-form-field>
  <div class="button">
    <button mat-raised-button color="primary" id="addEmployee" (click)="addData(employee.value)">Create</button>
  </div>
</form>