.container {
    margin-left: 5%;
    margin-top: 5%;
    width: 600px;
}

.add-button {
    margin-left: 60%;
    margin-top: -5%;
    background-color:rgb(75, 73, 73);
    color: white;
    width: 85px;
    text-align: center;
}

.add-button:hover {
    color: rgb(75, 73, 73);
    background-color: white;
    border: 1px solid rgb(75, 73, 73);  
}

.p-add-data,.p-delete-data {
    margin-left: 48%;
    margin-top: -25%;   
    font-weight: bold;
    font-size: 20px;
    color: rgb(75, 73, 73);
}

.p-delete-data {
    margin-left: 48%;
    margin-top: 2%;
}

.pagination {
    margin-left: 8%;
}