.container {
    margin-left: 5%;
    margin-top: 1%;
    width: 800px;
}

.add-button,.delete-button,.edit-button {
    margin-left: 70%;
    margin-top: 1%;
    background-color:rgb(75, 73, 73);
    color: white;
    width: 85px;
    text-align: center;
}

.delete-button,.edit-button {
    margin-left: -3%;
}

.add-button:hover,.delete-button:hover,.edit-button:hover {
    color: rgb(75, 73, 73);
    background-color: white;
    border: 1px solid rgb(75, 73, 73);  
}

.p-add-data {
    margin-left: 68%;
    margin-top: -30%;   
    font-weight: bold;
    font-size: 20px;
    color: rgb(75, 73, 73);
}

.pagination {
    margin-left: 20%;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}