<!-- <form [formGroup]="personalDetailsForm" (ngSubmit)="personalDetailsSubmit()" autocomplete="off">
  <div class="left-div">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name" required>
      <mat-error>First Name is required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone_number" required>
      <mat-error>Phone Number is required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error>Email is required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="city" required>
      <mat-error>City is required</mat-error>
    </mat-form-field><br>
    <span class="span-gender">
      <mat-radio-group formControlName="gender" aria-label="Select an option">
        <mat-label>Gender</mat-label>
        <mat-radio-button class="gender" matInput color="primary" value="1">Male</mat-radio-button>
        <mat-radio-button class="gender" matInput color="primary" value="2">Female</mat-radio-button>
      </mat-radio-group>
    </span>
  </div>

  <div class="right-div">
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name" required>
      <mat-error>Last Name is required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Date Of Birth</mat-label>
      <input matInput formControlName="date_of_birth" type="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-error>Date of birth is required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>State</mat-label>
      <input matInput formControlName="state" required>
      <mat-error>State is required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Pin Code</mat-label>
      <input matInput formControlName="pin_code" required>
      <mat-error>Pin Code is required</mat-error>
    </mat-form-field>
  </div>
  <div class="button">
    <button class="btn next-button" [disabled]="!personalDetailsForm.valid" >Next</button>
  </div>
</form> -->
