<mat-nav-list>
    <div class="logo-py-4">
        <img src="" alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">RESUME</h2>
    <a mat-list-item routerLink="/personal-details" routerLinkActive="list-item-active">
        <mat-icon>account_box</mat-icon>Personal Details
    </a>
    <a mat-list-item routerLink="/education" routerLinkActive="list-item-active">
        <mat-icon>school</mat-icon>Education
    </a>
    <a mat-list-item routerLink="/experience" routerLinkActive="list-item-active">
        <mat-icon>work</mat-icon>Experience
    </a>
    <a mat-list-item routerLink="/skills" routerLinkActive="list-item-active">
        <mat-icon>add</mat-icon>Skills
    </a>
    <a mat-list-item routerLink="/summary" routerLinkActive="list-item-active">
        <mat-icon>subject</mat-icon>Summary
    </a>
    <a mat-list-item routerLink="/preview" routerLinkActive="list-item-active">
        <mat-icon>visibility</mat-icon>Preview
    </a>
</mat-nav-list>