<p class="title">STUDENT DETAILS</p>
<div class="center">
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of datas | paginate: { itemsPerPage: count, currentPage: page }">
                    <th scope="row" id="user-id">{{user.user_id}}</th>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.phone_number}}</td>
                    <td><button id="edit-user" class="btn btn-secondary edit-user-button" (click)="navigateEditUser('edit-user', user.user_id)">EDIT</button></td>
                    <td><button id="delete-user" class="btn btn-secondary edit-user-button" (click)="deleteUser(user.user_id)">DELETE</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <button class="btn btn-secondary add-user-div"  routerLink="add-user">Add User</button> -->
    <!-- <button class="btn btn-secondary get-one-div" (click)="getOne()">Get One</button> -->
    <!-- <input type="text" class="form-control" id="delete-user-id"> -->
    <div class="pagination">
        <pagination-controls (pageChange)="page=$event"></pagination-controls>
    </div>
</div>