<!-- <form [formGroup]="education" autocomplete="off">
    <div class="left-div">
      <mat-form-field>
        <mat-label>Qualification</mat-label>
        <input matInput formControlName="qualification" required>
        <mat-error>Qualification is required</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>College Name</mat-label>
        <input matInput formControlName="college_name" required>
        <mat-error>College Name is required</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Year of Passing</mat-label>
        <input matInput formControlName="year_of_passing" required>
        <mat-error>Year of Passing is required</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>SSLC Percentage</mat-label>
        <input matInput formControlName="sslc_percentage" required>
        <mat-error>SSLC Percentage is required</mat-error>
      </mat-form-field><br>
    </div>
    <div class="right-div">
      <mat-form-field>
        <mat-label>Field of Study</mat-label>
        <input matInput formControlName="field_of_study" required>
        <mat-error>Field of Study is required</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>CGPA</mat-label>
        <input matInput formControlName="cgpa"required>
        <mat-error>CGPA is required</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>HSC Percentage</mat-label>
        <input matInput formControlName="hsc_percentage" required>
        <mat-error>HSC Percentage is required</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>School Name</mat-label>
        <input matInput formControlName="school_name" required>
        <mat-error>School Name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="button">
      <button class="btn next-button" [disabled]="!education.valid">Next</button>
    </div>
  </form>
   -->