<div class="container">
    <form class="summary-form" [formGroup]="summaryForm" (ngSubmit)="summary()" autocomplete="off">
        <div>
            <mat-form-field class="input-width" appearance="fill">
                <mat-label>Career Objectives</mat-label>
                <textarea matInput id="career-objectives" rows="10" cols="20" formControlName="career_objectives"></textarea>
                <mat-error>Enter a valid Career Objective</mat-error>
            </mat-form-field>
        </div>
        <div class="button row g-2">
            <div class="col-md">
                <button mat-stroked-button color="primary" id="summary-prev" (click)="toSkills()">Previous</button>
            </div>
            <div class="col-md">
                <button mat-stroked-button color="primary" id="summary-next" [disabled]="!summaryForm.valid">Next</button>
            </div>
        </div>
    </form>
</div>
