<!-- <div class="navigation">
    <div class="button-div buttno-personal">
        <button class="button" routerLink="personalDetails">
            <i class="fa-solid fa-user"></i>
            <span class="button-text">Personal Details
            </span>
        </button>
    </div>
    <div class="button-div">
        <button class="button" routerLink="education">
            <i class="fa-solid fa-graduation-cap"></i>
            <span class="button-text">Education
            </span>
        </button>
    </div>
    <div class="button-div">
        <button class="button">
            <i class="fa-solid fa-person-running"></i>
            <span class="button-text">
                Experience
            </span>
        </button>
    </div>
    <div class="button-div">
        <button class="button">
            <i class="fa-solid fa-laptop"></i>
            <span class="button-text">Skills</span>
        </button>
    </div>
    <div class="button-div">
        <button class="button">
            <i class="fa-solid fa-file"></i>
            <span class="button-text">Summary</span>
        </button>
    </div> 
    <div class="button-div">
        <button class="button">
            <i class="fa-solid fa-square-check"></i>
            <span class="button-text">Finalise</span>
        </button>
    </div> 
</div>
 -->
